// 1. Your custom variables and variable overwrites.
$sg-white: #f8f8f8;
$sg-black: #404040;
$sg-orange: #ec6508;
$global-background: $sg-white;
$global-link-color: $sg-black;
$global-link-color-hover: $sg-orange;
$global-danger-background: $sg-black;
$base-link-text-decoration: underline;
$base-link-hover-color: $sg-orange;
$base-code-color: $sg-orange;
$base-pre-color: $sg-orange;
$card-default-hover-background: $sg-white !default;
$navbar-nav-item-color: $sg-orange !default;
$navbar-nav-item-hover-color: $sg-orange !default;
$navbar-nav-item-height: 36px;
$navbar-nav-item-active-color: $sg-black;
$global-font-family: Lato;
$base-heading-color: $sg-orange;
$base-heading-margin-top: 20px;
$sg-border-color: $sg-white;
$container-max-width: 1160px;
$container-padding-horizontal: 20px;
$button-primary-background: $sg-orange !default;
$button-primary-hover-background: $sg-orange !default;
$button-primary-hover-color: $sg-black !default;
$button-secondary-background: $sg-black !default;
$button-secondary-hover-background: $sg-black !default;
$button-secondary-hover-color: $sg-orange !default;
$button-danger-background: $sg-orange !default;
$button-danger-hover-background: $sg-orange !default;
$button-danger-hover-color: $sg-black !default;
$button-text-transform: none !default;
$navbar-dropdown-margin: 0px;
$navbar-dropdown-width: 150px !default;
$nav-item-padding-vertical: 2px;

// 2. Import default variables and available mixins.
@import "../uikit/src/scss/variables-theme.scss";
@import "../uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-navbar-nav-item() {
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  transition: 0.1s ease-in-out;
  transition-property: color, background-color;
}

@mixin hook-navbar-nav-item-active() {
  font-weight: 900 !important;
}

@mixin hook-container-misc() {
  .uk-container {
    background: $sg-white;
  }
}

@mixin hook-base-h1 {
  margin-bottom: 10px;
  margin-top: 40px;
}

@mixin hook-grid-misc {
  .uk-grid {
    margin-right: (-$grid-gutter-horizontal);
  }

  @media (min-width: 1200px) {
    .uk-grid {
      margin-right: (-$grid-gutter-horizontal-l);
    }
  }
}

@mixin hook-card-misc {
  .uk-card.uk-grid-margin {
    margin-top: 0;
  }
}

@mixin hook-panel-scrollable {
  border: none;
}

@mixin hook-navbar-dropdown {
  padding: 10px;
  box-shadow: 0 5px 12px $sg-black;
}

@mixin hook-base-code() {
  white-space: normal;
}

// 4. Import UIkit.
@import "../uikit/src/scss/uikit-theme.scss";

.sg-navbar-top {
  height: 36px;
}

.sg-navbar-logo {
  height: 110px;
}

.sg-border-bottom {
  border-bottom: 1px solid $sg-border-color;
}

.sg-title {
  h1 {
    font-family: Lato;
    font-weight: 900;
  }
}

#cookie_consent {
  border-top: 1px solid $sg-white;

  .uk-container {
    border-left: none;
    border-right: none;
  }
}

h1 {
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
}

html, body {
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  scroll-behavior: smooth;
  background: $sg-white;
}

header .logo {
  height: 50px;
}

.sg-block-dark {
  background: $sg-black;
}

.uk-card-default {
//   background: none;
  color: $sg-white;
  box-shadow: none;
  .uk-card-header {
      border-bottom: none;
  }
  .uk-card-title {
    color: $sg-orange;
  }
  .uk-card-footer {
      border-top: none;
  }
}

.footer-widgets {
  font-size: 11px;
}


#copyright {
  font-size: 11px;
  a {
      &:hover {
        text-decoration: none;
      }
  }
;
}

.sg-testimonials {

  h3 {
    color: $sg-orange;
    font-size: 31px;
    text-transform: uppercase;
  }

  .quote {
    color: $sg-black;
    font-size: 30px;
    line-height: 40px;
    font-style: italic;
  }

  .quoted {
    color: $global-color;
    font-size: 25px;
  }
}

.sg-sdk {

  h3 {
    color: $sg-orange;
    font-size: 31px;
  }

  .quote {
    color: $sg-black;
    font-size: 20px;
    line-height: 25px;
    font-style: italic;
  }

  .quoted {
    color: $global-color;
    font-size: 20px;

    a {
        color: $sg-orange;
    }
  }
}

.sg-mac-border {
  border: 5px solid $sg-white;
  overflow: hidden;

  img {
    position: relative;
    top: 30px;
    left: -50px;
    border-radius: 25px;
    border: 15px solid $sg-black;
    box-shadow: 0 0 0 3px $sg-black;
  }
}

.sg-product-overview {
  div {
    color: $sg-black;
    min-height: 195px;
  }

  h2 {
    text-align: center;
    line-height: 2rem;
    margin: 0;
  }

  p {
    text-align: center;
  }
}

.sg-starter-check {
  color: $sg-orange;
  @media (max-width: $breakpoint-small-max) {
    &::after {
      content: " SIGASI STUDIO STARTER"
    }
  }
}

.uk-pagination li {
  border: 1px solid $sg-black;
  padding: 5px;
  min-width: 20px;
  text-align: center;
  margin-left: -1px;
}

.uk-pagination a {
  padding-left: 0px;
}

.sg-scroller {
  border: 1px solid $sg-white;
  border-radius: 4px;
  color: $sg-white;
  display: block;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 10px;
  width: 42px;
  margin: 0 auto;
  bottom: 10px;
  right: 10px;
  text-align: center;
}

.sg-primary-icon {
  color: $sg-orange;
}

.sg-secondary-icon {
    color: $sg-orange;
}

a.sg-distributor-icon {
  color: $sg-white;

  &:hover {
    color: $sg-white;
  }
}

.sg-youtube-container {
  position: relative;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.sg-floatparent {
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.sg-floatmenu::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
  display: none;
}

.sg-floatmenu {
  resize: none;
}

a.sg-campaign {
  display: block;
  background-color: $sg-orange;
  color: $sg-white;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 0px;
  line-height: 1.1em;
}

a.sg-insight-pager {
  display: inline-block;
  padding: 5px 14px;
  background-color: $sg-white;
  border: 1px solid $sg-white;
  border-radius: 15px;

  &:hover {
    background-color: $sg-white;
  }

  &.sg-left::before {
    content: "← ";
  }

  &.sg-right::after {
    content: " →";
  }
}

// 5. Specific for insights site
// Horizontal description lists
dl dt {
    line-height: 180%;
    float: left;
    width: 250px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dl dt:hover {
    overflow: visible;
    white-space: normal;
}

dl dd {
    line-height: 180%;
    margin-left: 270px;
}

#TableOfContents {
    margin-left: -9px;
}
#TableOfContents .uk-nav>li {
    margin-left: 9px;
}

pre {
    background: $sg-white;
}

blockquote {
    padding-left: 20px;
    border-left: 5px solid $sg-white;
}

// 6. import fonts
@import "fonts.scss";
