{{ if .Params.logos }}
<div id="footer-widgets" class="footer-widgets uk-container">
    {{ partial "logos.html" .Site.Data.logos }}
</div>
{{ end }}

<div id="copyright" class="uk-container">
    <footer class="uk-clear-fix">
        <div class="uk-text-center uk-padding-small">Copyright Sigasi | <a
                href="https://www.sigasi.com">www.sigasi.com</a></div>
    </footer>
</div>
<a href="#sigasi-top">
    <div class="uk-position-fixed sg-scroller uk-visible@m" data-uk-scroll data-uk-totop>
    </div>
</a>

<div id="cookie_consent" class="section uk-position-bottom uk-position-fixed uk-hidden" style="background: white">
    <div class="uk-container uk-padding-small">
        This website uses  <a href="https://www.sigasi.com/cookies/">cookies</a>. By continuing to use this
        site you are giving consent to cookies being used.
        <a class="uk-button uk-button-default uk-border-rounded uk-align-right" data-cli_action="accept" id="close_cookie_consent">Accept &amp; close</a>
    </div>
</div>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script src="/js/consent.js"></script>

{{ with $.Site.Params.SalesIQWidgetcode }}
<script type="text/javascript">
var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || 
    {widgetcode:"{{ . }}", values:{},ready:function(){}};
var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");
</script>
{{ end }}
